<!--The update-user-profile component allows users to update their profile information-->
<mat-card>
  <mat-card-header>
    <mat-card-title>Profile</mat-card-title>
  </mat-card-header>

<div class="profile-page">
  <mat-card id="update-container">
    <mat-card-header id="update-header">
      <mat-card-title>Update Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content id="update-card-content">
      <form>
        <mat-form-field>
          <mat-hint>Must be at least 5 characters</mat-hint>
          <input
            matInput
            [(ngModel)]="userData.Username"
            placeholder="Username"
            type="text"
            name="Username"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-hint>Must be alphanumeric and at least 5 characters</mat-hint>
          <input
            matInput
            [(ngModel)]="userData.Password"
            type="password"
            placeholder="Password"
            name="Password"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.Email"
            type="email"
            placeholder="Email"
            name="Email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.Birthday"
            type="date"
            placeholder="Birthday"
            name="Birthday"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button 
      (click)="editUser()" 
      color="primary">
        Update
      </button>
    </mat-card-actions>
  </mat-card>